/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.box_square{
    display: flex;
    width: 500px;
    height: 500px;  
    justify-content: center;
    align-items: center;  
    background-color: bisque;
}

.square{
    width: 100px;
    height: 100px;
    background-color: blue;
    transform: scale(1, 1);
    animation-name: square_blue;
    animation-duration:1s;
    animation-timing-function: ease-in;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

@keyframes square_blue {
    0%{
    transform: scale(1, 1);
    }
    100%{
    transform: scale(2, 2);
    }
}