*{
    margin: 0;
}

.block{
    margin-right: 40px;
    margin-left: 40px;
    
}
    

.block-child{
    max-width: 600px;
    /* min-width: 10px; */
    height: 200px;
    width: 100%;
    margin-top: 60px;
    background-color: #9a2626;
    margin-right: auto;
    margin-left: auto;
    
}