body{
    background-color: aquamarine;
}

@media screen and (max-width: 992px) {
    body{
        background-color:gold;
    }
}

@media screen and (max-width: 575px) {
    body{
        background-color: red;
    }
} 