*{
    margin: 0;
    box-sizing: border-box;
}
.text-fox-box{
    display: flex;
    background-color:rgba(158, 158,158, 0.7);
    position: relative;
    min-height: 100vh;
    width: auto;
    z-index: 1;
   padding: 10px;
}

.window-div{
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
}



.window{
    display: flex;
    height: 40%;
    width: 60%;
    background-color: #fff;
    position: absolute;
    z-index: 3; 
    flex-direction: column;
    justify-content:space-around;
    padding: 20px;
    border-radius: 8px;
}

.text-dots-div{
    display: flex;
    height: 20%;
    width: 100%;
}

.text-dots{
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow:ellipsis;
    font-weight: bold;
}

.bt{
    display: flex;
    border-radius: 8px;
    height: 30px;
    width: 100px;
}

.bt-div{
    display: flex;
    justify-content:flex-end;
    gap: 30px;
    padding: 5px;
}



.no-bt-div{
    
    background-color: #f5f5f5;
    
    justify-content: center;
    align-items: center;
    
    border: 2px solid #8e8e8e;
}
.yes-bt-div{
    
    background-color: #006634;
    color: #e9fbec;
    
    justify-content: center;
    align-items: center;
    
    border: 2px solid #c2d4c7;
}